<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plant_cart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".billing.emptyOrder" />
        <activity android:name=".billing.orderDetail" />
        <activity android:name=".billing.order" />
        <activity android:name=".billing.payment" />
        <activity android:name=".billing.bill" />
        <activity android:name=".billing.address" />
        <activity android:name=".categories.cardDetail" />
        <activity android:name=".billing.cart" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.others"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".categories.pot"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.palmPlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.outdoorPlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.medicinalPlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.indoorPlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.fruitPlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.floralPlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".categories.avenuePlants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:name=".MainActivity" />
        <activity
            android:name=".registration.EditProfile"
            android:parentActivityName=".registration.Profile" />
        <activity android:name=".registration.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration.Login" />
        <activity android:name=".registration.Sign_Up" />
        <activity
            android:name=".registration.Profile"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>